.Cork {
    background-image: url(./corkboard.webp);
    height: 100vh;
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}